<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>iniciar sesion</h1>

    <div>
        <form action="{{url_for('login')}}" method="post">
            

            <label for="email">correo electronico</label>
            <input type="email" name="email" id="email">

            <label for="password">password</label>
            <input type="password" name="password" id="password">

            <button type="submit">enviar</button>

        </form>

        <a href="">olvido su contraseña</a>

        <a href="/registro">registrarse</a>
        
        {% with messages = get_flashed_messages(category_filter=["no_inicio_session"]) %}
            {% if messages %}
            {% for message in messages %}
            <h3>{{message}}</h3>

            {% endfor %}
            {% endif %}
        {% endwith %}


    </div>



    
</body>
</html>