<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% with messages = get_flashed_messages(category_filter=["ini_session"]) %}
    {% if messages %}
    {% for message in messages %}
    <h3>{{message}}</h3>

    {% endfor %}
    {% endif %}
    {% endwith %}




    <div>
        <h1>registro de materias</h1>
        
            <form action="{{url_for('registro_de_estudiantes')}}" method="post">
                
    
                <label for="nombres">nombres</label>
                <input type="text" name="nombres" id="nombres">
    
                <label for="apellidos">apellidos</label>
                <input type="text" name="apellidos" id="apellidos">
    
                <label for="edad">edad</label>
                <input type="text" name="edad" id="edad">
    
                <label for="materia">materia</label>
                <input type="text" name="materia" id="materia">
    
                <label for="calificacion">calificacion</label>
                <input type="text" name="calificacion" id="calificacion">
    
                <button type="submit">enviar</button>
    
    
            </form>

    </div>

    {% with messages = get_flashed_messages(category_filter=["registro exitoso"]) %}
    {% if messages %}
    {% for message in messages %}
    <h3>{{message}}</h3>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <h2><a href="/ver_regis">ver registros</a></h2>

    <h2><a href="{{url_for('logout_sesion')}}">cerrar sesion</a></h2>


    
</body>
</html>