<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <table>
        <tr>
            <th>nombres</th>
            <th>apellidos</th>
            <th>edad</th>
            <th>materia</th>
            <th>calificacion</th>
            <th>acciones</th>
        </tr>
        <tbody>
            {% for registros in registros %}
            <tr>
                <td>{{registros[1]}}</td>
                <td>{{registros[2]}}</td>
                <td>{{registros[3]}}</td>
                <td>{{registros[4]}}</td>
                <td>{{registros[5]}}</td>
                <td>actualizar</td>
                <td>
                    <form action="{{url_for('eliminar_registro_estudiantes')}}" method="post">
                        <input type="hidden" name="id" value="{{registros[0]}}">
                        <button type="submit">eliminar</button>
                    </form>
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>

    <h3><a href="{{url_for('inicio_sesion')}}">regresar</a></h3>

    {% with messages = get_flashed_messages(category_filter=["eliminar registro"]) %}
            {% if messages %}
            {% for message in messages %}
            <h3>{{message}}</h3>

            {% endfor %}
            {% endif %}
        {% endwith %}

    
</body>
</html>