<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>registrar usuario</h1>



    <div>
        <form action="{{url_for('registro_log')}}" method="post" >

            <label for="usuario">usuario</label>
            <input type="text" name="usuario" id="usuario" >

            <label for="usuario">correo electronico</label>
            <input type="email" name="email" id="email">

            <label for="password">password</label>
            <input type="password" name="password" id="password">
            

            <button type="submit">enviar</button>
        </form>

        <a href="/">cancelar</a>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <h3> <mark>{{category}} {{message}}</h3></mark>

            {% endfor %}
            {% endif %}
            {% endwith %}

    </div>

    
</body>
</html>