<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <table>
        <tr>
            <th>nombres</th>
            <th>apellidos</th>
            <th>edad</th>
            <th>materia</th>
            <th>calificacion</th>
            <th>acciones</th>
        </tr>
        <tbody>
            {% for registros in registros %}
            <tr>
                <td>{{registros[1]}}</td>
                <td>{{registros[2]}}</td>
                <td>{{registros[3]}}</td>
                <td>{{registros[4]}}</td>
                <td>{{registros[5]}}</td>
                <td>actualizar</td>
                <td>eliminar</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>

    <h3><a href="{{url_for('inicio_sesion')}}">regresar</a></h3>

    
</body>
</html>